<!DOCTYPE html>
<html>
<head>
  <title>About Me - Asif Portfolio</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <section>
    <h1>About Me</h1>
    <p>I am a DevOps Engineer with 2.6 years at Infosys. I specialize in GCP, Azure, Terraform, GitHub Actions, Jenkins, Docker, Shell Scripting, Linux, and Kubernetes. I’ve worked on projects for GE Appliances and Kroger deploying cloud resources and CI/CD pipelines.</p>
  </section>
</body>
</html>
