<!DOCTYPE html>
<html>
<head>
  <title>Contact - Asif Portfolio</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Me</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <section>
    <h1>Contact Me</h1>
    <p>Email: <a href="mailto:asif@example.com">asif@example.com</a></p>
    <p>LinkedIn: <a href="https://linkedin.com/in/md-asif-jan-795289177">md-asif-jan-795289177</a></p>
    <p>GitHub: <a href="https://github.com/asifjan5">asifjan5</a></p>
  </section>
</body>
</html>
